div div *{
  /* border: 1px solid white; */
  box-sizing: border-box;
}
body{
  box-sizing: border-box;
  background-color: rgb(23, 32, 42);
  color: #fff;
  line-height: 30px;
  font-size: 24px;
}
a{
  color: #fff;
  text-decoration: none;
}
input{
  border-radius: 5px;
  line-height: 30px;
}
.btn {
  width: 120px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: rgb(74, 39, 209);
  /* display: block; */
  padding: 10px 0;
  border-radius: 30px;
  cursor: pointer;
}
.img {
  width: 150px;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
}
.small-img{
  width: 30px;
  height: auto;
  }
  